.bg {

    background-image : url(../public/assets/images/couple-4copy.jpg);
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    text-decoration-color: blue;
}